<meta charset="UTF-8">
<title>Lab Check In</title>


<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://bootswatch.com/4/slate/bootstrap.min.css">

<link rel="SHORTCUT ICON" href="/favicon.ico">

<style>
    body      { padding-top:50px; }
    h1        { font-size: 25px; text-transform: uppercase; letter-spacing: 5px; }
    .centered { text-align: center; }
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #262b30;
}

li {
    float: left;
  
}
.nav-item {float: left;}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

td {
    border: 1px solid black;
    width: auto;
    text-align: center;
}
tr {
    border: 1px solid black;
    width: auto;
}
table {
    border: 1px solid black;
    width: auto;
}

html {
    align-self: center;
    width: 800px;

}
   
</style>