<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron" style="padding-top: 25px;">
        <h3> Login </h3>
        <br>

            <form action="/login" method="POST">
                <!--  Login Form -->
                <br>
                <input type="text" name="userName" class="form-control" id="userName"  placeholder="Username" autocomplete="off" required>
                <br>
                <input type="password" name="passWord" class="form-control" id="passWord"  placeholder="Password" autocomplete="off" required>
                <br>

                <br>
                <button class="btn btn-primary">login</button>

            </form>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>